name: EPG Combinado

on:
  schedule:
    - cron: '10 0 * * *' # Ejecutar a las 00:10 AM (hora española)
  workflow_dispatch: # Permite ejecución manual

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del repositorio
      uses: actions/checkout@v3

    - name: Dar permisos de ejecución a los scripts
      run: |
        chmod +x epgprevio.sh
        chmod +x epgunido.sh
    - name: Ejecutar epgprevio.sh
      run: ./epgprevio.sh

    - name: Ejecutar epgunido.sh
      run: ./epgunido.sh

    - name: Configurar identidad de Git
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
    - name: Eliminar líneas incorrectas de EPGunido.xml
      run: |
        sed -i '/<\/channel>/,/<programme start=/d' EPGunido.xml
    - name: Comprimir EPGunido.xml
      run: gzip -c EPGunido.xml > EPGunido.xml.gz

    - name: Eliminar archivos innecesarios
      run: |
        rm EPGactual.xml Futuro.xml guiatv_color.xml.gz EPGunido.xml
    - name: Subir archivos generados al repositorio
      run: |
        git add .
        git commit -m "Actualizar EPGunido.xml.gz y archivos relacionados"
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


