name: Limpiar EPG con sed

on:
  schedule:
    - cron: '2 2 * * *' # Ejecutar a las 02:02 AM (hora española)
  workflow_dispatch:

jobs:
  clean-epg:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Descargar EPG original
        run: |
          curl -L "https://raw.githubusercontent.com/roisiano/EPG-combinado/refs/heads/main/EPGunido.xml.gz" -o EPGunido.xml.gz

      - name: Descomprimir
        run: |
          gunzip -f EPGunido.xml.gz

      - name: Eliminar líneas con <category>
        run: |
          sed '/<category>/d' EPGunido.xml > EPGunido-fixed.xml

      - name: Comprimir archivo final
        run: |
          gzip -f EPGunido-fixed.xml

      - name: Subir archivo reparado
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add EPGunido-fixed.xml.gz
          git commit -m "EPG limpiado con sed (eliminadas líneas <category>)"
          git push


